.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: 650px;
  margin-bottom: 140px;
  background: url('img/background-1024.webp'), linear-gradient(0deg, #e0e0e0, #e0e0e0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 323px;
}

.title {
  margin-bottom: 21px;
  font-size: 40px;
  line-height: 1;
}

.text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.62;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    width: 768px;
    background: url('img/background-768.webp');
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .section {
    width: 360px;
    height: 500px;
    background: url('img/background-360.webp'), linear-gradient(0deg, #edecea, #edecea);
    background-size: cover;
  }

  .container {
    width: 328px;
    height: 389px;
  }
}