.section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1024px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 140px;
  /* margin-top: 60px; */
  background: url('img/background-1024.png'), linear-gradient(0deg, #e0e0e0, #e0e0e0), url('img/background-1024.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;

  width: 380px;
  height: 323px;
}

.title {
  margin-bottom: 21px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.text {
  margin-bottom: 32px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    width: 768px;
    /* height: 500px; */
    background: url('img/background-768.png');
    background-size: cover;
  }

}

@media screen and (max-width: 767px) {
  .section {
    width: 360px;
    height: 500px;
    background: url('img/background-360.png'), linear-gradient(0deg, #edecea, #edecea);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
  }

  .container {
    width: 328px;
    height: 389px;
  }


}