.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 904px;

  padding: 175px 60px 180px;

  background-color: #f8f8f8;
  background-image: url('../../svg/Footprint-467x177.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.title {
  margin-bottom: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  color: rgba(0, 0, 0, 0.87);
}

.text {
  margin-bottom: 32px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;

  text-align: center;

  color: rgba(0, 0, 0, 0.87);
}

.form {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.form p {
  text-align: left;
}

.inputName {
  height: 54px;
  margin-bottom: 50px;
  padding-left: 16px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  outline: none;
  border: 1px solid #d0cfcf;
  box-sizing: border-box;
  border-radius: 4px;
}
.inputName:focus {
  border: 2px solid #00bdd3;
}

.container_radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 11px;
  margin-bottom: 50px;

  /* text-align: center; */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  color: rgba(0, 0, 0, 0.87);
}

.radio {
  margin-bottom: 8px;
  margin-right: 12px;
}

.btn {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 704px;
    padding: 175px 32px 180px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 328px;
    padding: 145px 16px 150px;
    text-align: center;
  }
  .form {
    width: 328px;
  }
}

.input__file_button {
  width: 100%;

  height: 54px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  border: 1px solid #d0cfcf;

  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 50px;
}

.input__file_icon_wrapper {
  box-sizing: border-box;

  height: 54px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.visually_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
