.section {
  display: flex;
  justify-content: flex-end;

  width: 904px;
  height: 340px;
  margin: 0 auto;
  padding: 175px 60px;

  background-image: url('img/Image-387x340@1x-min.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;

  background-color: #f8f8f8;
}

.container {
  width: 477px;
  height: 310px;

  text-align: end;
}

.title {
  margin-bottom: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  color: rgba(0, 0, 0, 0.87);
}
.pre_title {
  margin-bottom: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;

  color: rgba(0, 0, 0, 0.87);
}

.text {
  margin-bottom: 32px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  text-align: right;

  color: rgba(0, 0, 0, 0.87);
}

.btn {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    width: 704px;
    height: 362px;
    padding: 175px 32px;

    background-image: url('img/Image-296x260tab-min.png');
    /* background-repeat: no-repeat;
    background-position: left;
    background-size: auto; */
  }
  .container {
    width: 396px;
    height: 362px;
  }
}

@media screen and (max-width: 767px) {
  .background {
    display: block;
    width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 145px;
    padding-bottom: 145px;

    background-color: #f8f8f8;
  }
  .section {
    width: 328px;
    height: 729px;
    /* margin: 145px auto; */
    padding: 0 16px;
    align-items: flex-end;

    background-image: url('img/Image-328x287tel-min.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .container {
    width: 328px;
    /* height: 729px; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;

    /* padding: 145px 0; */
  }
  .text {
    text-align: left;
  }
}
