.section {
  display: flex;

  width: 904px;
  height: 340px;
  margin: 175px auto;
}

.container {
  width: 477px;
  height: 310px;

  text-align: end;
}

.title {
  margin-bottom: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  color: rgba(0, 0, 0, 0.87);
}
.pre_title {
  margin-bottom: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;

  color: rgba(0, 0, 0, 0.87);
}

.text {
  margin-bottom: 32px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  text-align: right;

  color: rgba(0, 0, 0, 0.87);
}

.btn {
  display: flex;
  justify-content: flex-end;
}
