.header {
  display: flex;
  align-items: center;

  width: 1024px;
  height: 60px;
  margin: 0 auto 0 auto;

  background: #ffffff;
}

.header_logo {
  margin-left: 60px;
  margin-right: auto;
}

.link_logo {
  display: flex;
  align-items: center;

  color: #000000;
}

.ul_nav {
  display: flex;
}

.nav_item {
  margin-right: 30px;
}

.nav_item:last-child {
  margin-right: 60px;
}
