.footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 1024px;
  margin: 0 auto;

  text-align: center;
  background: #ffffff;
}

.first_block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 57px;
}

.second_block {
  height: 40px;
  background-color: #000000;
}

.third_block {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 50px;
}

.logoFooter {
  margin-left: 60px;
  margin-right: 26px;
  /* margin-right: auto; */
}

.homepage_footer {
  width: 582px;
  /* margin: 0 auto; */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: 768px;
  }
  .logoFooter {
    margin-left: 32px;
    margin-right: 124px;
  }
  .homepage_footer {
    width: 184px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 360px;
  }
  .third_block {
    height: 100px;
    flex-direction: column;
  }

  .logoFooter {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .homepage_footer {
    display: block;
    width: 328px;
    margin-bottom: 15px;
  }
}
