.button {
  width: 100px;
  height: 34px;

  background: #f4e041;
  border-radius: 80px;

  font-size: 16px;
  line-height: 1.62;

  color: rgba(0, 0, 0, 0.87);
}

.button:hover {
  background: #ffe302;
  cursor: pointer;
}